*{
  margin: 0;
  padding: 0;
}

.landing-page {
  height: auto;
  /*  background-image: url("../assets/landing/landing.jpeg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding-top: 120;
}

.background {
  background-image: url("/images/landing.jpeg");
  background-size: cover;
  height: auto;
  width: 90%;
  position: relative;
  background-position: center;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 30px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 600px) {
  .background {
    margin-top: 110px;
     padding-top: 14px;
  }
}

@media (min-width: 900px) {
  .background {
    margin-top: 120px;
     padding-top: 18px;
  }
}

@media (min-width: 1200px) {
  .background {
    margin-top: 120px;
     padding-top: 20px;
  }
}

@media (min-width: 1536px) {
  .background {
    margin-top: 150px;
     padding-top: 25px;
  }
}
.earn {
  background-image: url("/images/landing.jpeg");
  background-size: cover;
  height: auto;
  width: 90%;
  position: relative;
  background-position: center;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 80px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 600px) {
  .earn {
    margin-bottom: 100px;
    padding-top: 4px;
  }
}

@media (min-width: 900px) {
  .earn {
    margin-bottom: 120px;
    padding-top: 6px;
  }
}

@media (min-width: 1200px) {
  .earn {
    margin-bottom: 150px;
    padding-top: 8px;
  }
}

@media (min-width: 1536px) {
  .earn {
    margin-bottom: 160px;
    padding-top: 10px;
  }
}

.skip {
  background-image: url("/images/landing.jpeg");
  background-size: cover;
  height: auto;
  width: 90%;
  position: relative;
  background-position: center;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 80px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 600px) {
  .skip {
    margin-bottom: 100px;
    padding-top: 4px;
  }
}

@media (min-width: 900px) {
  .skip {
    margin-bottom: 120px;
    padding-top: 6px;
  }
}

@media (min-width: 1200px) {
  .skip {
    margin-bottom: 150px;
    padding-top: 8px;
  }
}

@media (min-width: 1536px) {
  .skip {
    margin-bottom: 160px;
    padding-top: 10px;
  }
}
